/* variables.css */

:root {
  /* Colors */
  --primary-color: #f30000;
  --secondary-color: #57083f;
  --background-color: #28152b;
  --text-color: #fcf4f4;

  /* Spacing */
  --spacing-sm: 0.5rem; /* 8px if root font-size = 16px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */

  /* Fonts */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
}
